<!DOCTYPE html>
<html>
    
{% include "header.html" %}

<body>
    
    {% load static %}
        <!-- Page Header Start -->
        <div class="page-header mb-0">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Admin Dashboard</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header End -->
        
        
        <!-- Food Start -->
        <div>
            <h2 style="text-align: center; padding-top: 30px; padding-bottom: 30px;">Charts</h2>
            <div style="border-style: ridge;">
        <div class="barGraph" style="width:700px; background-color: #FFFF; margin-left: 250px; margin-top: 50px; border-radius: 5px; border-style: ridge;">
            <canvas id="myChartBar"></canvas>
        </div>
        <div class="doughGraph" style="width:450px; background-color: #FFFF; margin-left: 1000px; margin-top: -400px; border-radius: 5px; border-style: ridge;">
        <canvas id="myChartdough"></canvas>
        </div>
        </div>
    </div>
        <!-- Food End -->

            

 

<script>
var ctx = document.getElementById('myChartBar').getContext('2d');
var myChartBar = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [{%for res in resDesc%}'{{res.Restaurant_Desc}}',{%endfor%}],
        datasets: [{
            label: 'Different Types of Restaurants',
            data: ['{{countCoffee}}','{{countAsian}}','{{countAmerican}}','{{countFilipino}}', '{{countCouple}}'],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }

    }
});
</script>

<script>
var ctx = document.getElementById('myChartdough').getContext('2d');
var myChartdough = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: [{%for add in addStreet%}'{{add.Address_City}}',{%endfor%}],
        datasets: [{
            label: 'Different Types of Restaurants',
            data: ['{{countCebu}}','{{countMandaue}}'],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }

    }
});
</script>
           
 <hr>

<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">

<center>
<div style="border-style: ridge; width:90%; padding-inline: 50px; padding-block: 20px;"> 

<table id="myTable" class="display" style="width:100%;">
    <thead>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Age</th>
            <th>Start date</th>
            <th>Salary</th>

        </tr>
    </thead>
    <tbody>
        
        <tr>
            <td>Rhona Davidson</td>
            <td>Integration Specialist</td>
            <td>Tokyo</td>
            <td>55</td>
            <td>2010/10/14</td>
            <td>$327,900</td>
        </tr>

        </tbody>
</table>
</div>
</center>
<hr>
<script
src="https://code.jquery.com/jquery-3.6.0.min.js"
integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
crossorigin="anonymous"></script>

<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>


<script>
  $(document).ready( function () {
$('#myTable').DataTable();
} );
</script>

</body>



{% include "footer.html" %}
</html>