<!DOCTYPE html>
<html>
    
{% include "header.html" %}

<body>
    
    {% load static %}
        <!-- Page Header Start -->
        <div class="page-header mb-0">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Admin Dashboard</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header End -->
        
        
        <!-- Food Start -->
        <div>
            <h2 style="text-align: center; padding-top: 30px; padding-bottom: 30px;">Charts</h2>
            <div style="border-style: ridge;">
        <div class="barGraph" style="width:700px; background-color: #FFFF; margin-left: 250px; margin-top: 50px; border-radius: 5px; border-style: ridge;">
            <canvas id="myChartBar"></canvas>
        </div>
        <div class="doughGraph" style="width:450px; background-color: #FFFF; margin-left: 1000px; margin-top: -400px; border-radius: 5px; border-style: ridge;">
        <canvas id="myChartdough"></canvas>
        </div>
        </div>
    </div>
        <!-- Food End -->

            

 

<script>
var ctx = document.getElementById('myChartBar').getContext('2d');
var myChartBar = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [{%for res in resDesc%}'{{res.Restaurant_Desc}}',{%endfor%}],
        datasets: [{
            label: 'Different Types of Restaurants',
            data: ['{{countCoffee}}','{{countAsian}}','{{countAmerican}}','{{countFilipino}}', '{{countCouple}}'],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }

    }
});
</script>

<script>
var ctx = document.getElementById('myChartdough').getContext('2d');
var myChartdough = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: [{%for add in addStreet%}'{{add.Address_City}}',{%endfor%}],
        datasets: [{
            label: 'Different Types of Restaurants',
            data: ['{{countCebu}}','{{countMandaue}}'],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }

    }
});
</script>
           
 <hr>

<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">





<center>
<style>
    .b {
    padding: 12px 25px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background: #fbaf32;
    border: 2px solid #fbaf32;
    border-radius: 5px;
    transition: .5s;
    min-width: 200px;
    max-width: 200px;
}

.b:hover {
    color: #fbaf32;
    background: transparent;
}

.b:focus,
.form-control:focus,
.custom-select:focus {
    box-shadow: none;
}

.badd {
    padding: 12px 25px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background: #95dab6;
    border: 2px solid #95dab6;
    border-radius: 5px;
    transition: .5s;
    min-width: 200px;
    max-width: 200px;
}

.badd:hover {
    color: #95dab6;
    background: transparent;
}

.badd:focus,
.form-control:focus,
.custom-select:focus {
    box-shadow: none;
}

.bupdate {
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    background: #83b2d0;
    border: 2px solid #83b2d0;
    border-radius: 5px;
    transition: .5s;
    min-width: 120px;
    max-width: 120px;
    min-height: 30px;
    max-height: 30px;
}

.bupdate:hover {
    color: #83b2d0;
    background: transparent;
}

.bupdate:focus,
.form-control:focus,
.custom-select:focus {
    box-shadow: none;
}

.bdelete {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background: #dc8580;
    border: 2px solid #dc8580;
    border-radius: 5px;
    transition: .5s;
    min-width: 100px;
    max-width: 100px;
    min-height: 30px;
    max-height: 30px;
}

.bdelete:hover {
    color: #dc8580;
    background: transparent;
}

.bdelete:focus,
.form-control:focus,
.custom-select:focus {
    box-shadow: none;
}


.confirm {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background: #95dab6;
    border: 2px solid #95dab6;
    border-radius: 5px;
    transition: .5s;
    min-width: 100px;
    max-width: 100px;
    min-height: 30px;
    max-height: 30px;
}

.confirm:hover {
    color: #95dab6;
    background: transparent;
}

.confirm:focus,
.form-control:focus,
.custom-select:focus {
    box-shadow: none;
}

.confirmx {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background: #83b2d0;
    border: 2px solid #83b2d0;
    border-radius: 5px;
    transition: .5s;
    min-width: 100px;
    max-width: 100px;
    min-height: 30px;
    max-height: 30px;
}

.confirmx:hover {
    color: #83b2d0;
    background: transparent;
}

.confirmx:focus,
.form-control:focus,
.custom-select:focus {
    box-shadow: none;
}

.closex {
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    background: #dc8580;
    border: 2px solid #dc8580;
    border-radius: 5px;
    transition: .5s;
    min-width: 100px;
    max-width: 100px;
    min-height: 30px;
    max-height: 30px;
}

.closex:hover {
    color: #dc8580;
    background: transparent;
}

.closex:focus,
.form-control:focus,
.custom-select:focus {
    box-shadow: none;
}

</style>   
<button class="b" type="button" data-div="1">Users</button>
<button class="b" type="button" data-div="2">Restaurants</button>
<button class="b" type="button" data-div="3">Address</button>
<button class="b" type="button" data-div="4">Food</button>
<button class="b" type="button" data-div="5">Driver</button>
<button class="b" type="button" data-div="6">Order</button>
<button class="b" type="button" data-div="7">Order Item</button>
<hr>

<div style="border-style: ridge; width:95%; padding-inline: 50px; padding-block: 20px;"> 

<div class="tbl" id="1">
<table id="tbl1" class="display" style="width:100%;">
<h1>User</h1>
<p align="right">
    <button class="badd" data-toggle="modal" data-target="#addUser">Add User</button>
  </p>

    <thead>
        <tr style="text-align: center;">
            <th>User ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Password</th>
            <th>Contact Number</th>
            <th>Email</th>
            <th>Address</th>
            <th>Action</th>

        </tr>
    </thead>
    <tbody>
        
        <tr style="text-align: center;">
          {% for u in user %}
            <td>{{u.User_ID}}</td>
            <td>{{u.User_FirstName}}</td>
            <td>{{u.User_LastName}}</td>
            <td>{{u.User_Password}}</td>
            <td>{{u.User_ContactNumber}}</td>
            <td>{{u.User_Email}}</td>
            <td>{{u.Address_ID}}</td>
            <td><button class="bupdate" data-toggle="modal" data-target="#updateUser">Update</button>&nbsp;&nbsp;&nbsp;&nbsp;<button class="bdelete" type="button">Delete</button></td>
        </tr>

        </tbody>
        {% endfor %}
        
</table>
</div>

<div class="tbl" id="2">
<table id="tbl2" class="display" style="width:100%;">
<h1>Restaurants</h1>
<p align="right">
    <button class="badd" data-toggle="modal" data-target="#addRestaurant">Add Restaurant</button>
  </p>
    <thead>
        <tr style="text-align: center;">
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Age</th>
            <th>Start date</th>
            <th>Salary</th>

        </tr>
    </thead>
    <tbody>
        
        <tr style="text-align: center;">
            <td>Restaurants</td>
            <td>Integration Specialist</td>
            <td>Tokyo</td>
            <td>55</td>
            <td>2010/10/14</td>
            <td><button class="bupdate" data-toggle="modal" data-target="#updateRestaurant">Update</button>&nbsp;&nbsp;&nbsp;&nbsp;<button class="bdelete" type="button">Delete</button></td>
        </tr>

        </tbody>
</table>
</div>

<div class="tbl" id="3">
    <table id="tbl3" class="display" style="width:100%;">
    <h1>Address</h1>
    <p align="right">
        <button class="badd" data-toggle="modal" data-target="#addAddress">Add Address</button>
      </p>
        <thead>
            <tr style="text-align: center;">
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
    
            </tr>
        </thead>
        <tbody>
            
            <tr style="text-align: center;">
                <td>Address</td>
                <td>Integration Specialist</td>
                <td>Tokyo</td>
                <td>55</td>
                <td>2010/10/14</td>
                <td><button class="bupdate" data-toggle="modal" data-target="#updateAddress">Update</button>&nbsp;&nbsp;&nbsp;&nbsp;<button class="bdelete" type="button">Delete</button></td>
            </tr>
    
            </tbody>
    </table>
    </div>

    <div class="tbl" id="4">
<table id="tbl4" class="display" style="width:100%;">
<h1>Food</h1>
<p align="right">
    <button class="badd" data-toggle="modal" data-target="#addFood">Add Food</button>
  </p>
    <thead>
        <tr style="text-align: center;">
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Age</th>
            <th>Start date</th>
            <th>Salary</th>

        </tr>
    </thead>
    <tbody>
        
        <tr style="text-align: center;">
            <td>Food</td>
            <td>Integration Specialist</td>
            <td>Tokyo</td>
            <td>55</td>
            <td>2010/10/14</td>
            <td><button class="bupdate" data-toggle="modal" data-target="#updateFood">Update</button>&nbsp;&nbsp;&nbsp;&nbsp;<button class="bdelete" type="button">Delete</button></td>
        </tr>

        </tbody>
</table>
</div>

<div class="tbl" id="5">
    <table id="tbl5" class="display" style="width:100%;">
    <h1>Driver</h1>
    <p align="right">
        <button class="badd" data-toggle="modal" data-target="#addDriver">Add Driver</button>
      </p>
        <thead>
            <tr style="text-align: center;">
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
    
            </tr>
        </thead>
        <tbody>
            
            <tr style="text-align: center;">
                <td>Driver</td>
                <td>Integration Specialist</td>
                <td>Tokyo</td>
                <td>55</td>
                <td>2010/10/14</td>
                <td><button class="bupdate" data-toggle="modal" data-target="#updateDriver">Update</button>&nbsp;&nbsp;&nbsp;&nbsp;<button class="bdelete" type="button">Delete</button></td>
            </tr>
    
            </tbody>
    </table>
    </div>

    <div class="tbl" id="6">
        <table id="tbl6" class="display" style="width:100%;">
        <h1>Order</h1>
        <p align="right">
            <button class="badd" data-toggle="modal" data-target="#addOrder">Add Order</button>
          </p>
            <thead>
                <tr style="text-align: center;">
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Age</th>
                    <th>Start date</th>
                    <th>Salary</th>
        
                </tr>
            </thead>
            <tbody>
                
                <tr style="text-align: center;">
                    <td>Order</td>
                    <td>Integration Specialist</td>
                    <td>Tokyo</td>
                    <td>55</td>
                    <td>2010/10/14</td>
                    <td><button class="bupdate" data-toggle="modal" data-target="#updateOrder">Update</button>&nbsp;&nbsp;&nbsp;&nbsp;<button class="bdelete" type="button">Delete</button></td>
                </tr>
        
                </tbody>
        </table>
        </div>

        <div class="tbl" id="7">
            <table id="tbl7" class="display" style="width:100%;">
            <h1>Order Item</h1>
            <p align="right">
                <button class="badd" data-toggle="modal" data-target="#addOrderItem">Add Order Item</button>
              </p>
                <thead>
                    <tr style="text-align: center;">
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Age</th>
                        <th>Start date</th>
                        <th>Salary</th>
            
                    </tr>
                </thead>
                <tbody>
                    
                    <tr style="text-align: center;">
                        <td>Order Item</td>
                        <td>Integration Specialist</td>
                        <td>Tokyo</td>
                        <td>55</td>
                        <td>2010/10/14</td>
                        <td><button class="bupdate" data-toggle="modal" data-target="#updateOrderItem">Update</button>&nbsp;&nbsp;&nbsp;&nbsp;<button class="bdelete" type="button">Delete</button></td>
                    </tr>
            
                    </tbody>
            </table>
            </div>
</div>
</center>



<!-- Modal -->

<style>
    


.title1 {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}



.input1-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.input1 {
  background-color: #eee;
  border-radius: 12px;
  border-style: ridge;
  border: 0;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
 
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
  width: 50px;
}

.input1:focus ~ .cut,
.input1:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input1:focus ~ .placeholder,
.input1:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input1:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input1:focus ~ .placeholder {
  color: #dc2f55;
}

.submit1:active {
  background-color: #06b;
}

</style>
<!-- Create Modals -->

<!-- Modal User -->
<div class="modal fade" id="addUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #95dab6;">
          <h5 class="modal-title" id="exampleModalLabel" style="color: #ffffff;">Add User</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <center>
          <form method="POST" action="#">
         
            <div class="form1">
                <div class="title1">User</div>
                <hr>


                <div class="input1-container ic2">
                  <input id="firstname" class="input1" type="text" placeholder=" " required/>
                  <div class="cut"></div>
                  <label for="firstname" class="placeholder">First name</label>
                </div>

                <div class="input1-container ic2">
                  <input id="lastname" class="input1" type="text" placeholder=" " required/>
                  <div class="cut"></div>
                  <label for="lastname" class="placeholder">Last name</label>
                </div>

                <div class="input1-container ic2">
                  <input id="email" class="input1" type="email" placeholder=" " required/>
                  <div class="cut cut-short"></div>
                  <label for="email" class="placeholder">Email</label>
                </div>

                
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="closex" data-dismiss="modal">Close</button>
          <button type="submit" class="confirm">Add</button>
        </div>
      </div>
    </div>
  </div>
  </form>
<!-- Modal User -->

<!-- Modal Restaurant -->
<div class="modal fade" id="addRestaurant" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #95dab6;">
          <h5 class="modal-title" id="exampleModalLabel" style="color: #ffffff;">Add Restaurant</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <center>
          <form method="POST" action="#">
         
            <div class="form1">
                <div class="title1">Restaurant</div>
                <hr>


                <div class="input1-container ic2">
                  <input id="firstname" class="input1" type="text" placeholder=" " required/>
                  <div class="cut"></div>
                  <label for="firstname" class="placeholder">First name</label>
                </div>

                <div class="input1-container ic2">
                  <input id="lastname" class="input1" type="text" placeholder=" " required/>
                  <div class="cut"></div>
                  <label for="lastname" class="placeholder">Last name</label>
                </div>

                <div class="input1-container ic2">
                  <input id="email" class="input1" type="email" placeholder=" " required/>
                  <div class="cut cut-short"></div>
                  <label for="email" class="placeholder">Email</label>
                </div>

                
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="closex" data-dismiss="modal">Close</button>
          <button type="submit" class="confirm">Add</button>
        </div>
      </div>
    </div>
  </div>
  </form>
<!-- Modal Restaurant -->

<!-- Modal Address -->
<div class="modal fade" id="addAddress" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #95dab6;">
          <h5 class="modal-title" id="exampleModalLabel" style="color: #ffffff;">Add Address</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <center>
          <form method="POST" action="#">
         
            <div class="form1">
                <div class="title1">Address</div>
                <hr>


                <div class="input1-container ic2">
                  <input id="firstname" class="input1" type="text" placeholder=" " required/>
                  <div class="cut"></div>
                  <label for="firstname" class="placeholder">First name</label>
                </div>

                <div class="input1-container ic2">
                  <input id="lastname" class="input1" type="text" placeholder=" " required/>
                  <div class="cut"></div>
                  <label for="lastname" class="placeholder">Last name</label>
                </div>

                <div class="input1-container ic2">
                  <input id="email" class="input1" type="email" placeholder=" " required/>
                  <div class="cut cut-short"></div>
                  <label for="email" class="placeholder">Email</label>
                </div>

                
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="closex" data-dismiss="modal">Close</button>
          <button type="submit" class="confirm">Add</button>
        </div>
      </div>
    </div>
  </div>
  </form>
<!-- Modal Address -->

<!-- Modal Food -->
<div class="modal fade" id="addFood" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #95dab6;">
          <h5 class="modal-title" id="exampleModalLabel" style="color: #ffffff;">Add Food</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <center>
          <form method="POST" action="#">
         
            <div class="form1">
                <div class="title1">Food</div>
                <hr>


                <div class="input1-container ic2">
                  <input id="firstname" class="input1" type="text" placeholder=" " required/>
                  <div class="cut"></div>
                  <label for="firstname" class="placeholder">First name</label>
                </div>

                <div class="input1-container ic2">
                  <input id="lastname" class="input1" type="text" placeholder=" " required/>
                  <div class="cut"></div>
                  <label for="lastname" class="placeholder">Last name</label>
                </div>

                <div class="input1-container ic2">
                  <input id="email" class="input1" type="email" placeholder=" " required/>
                  <div class="cut cut-short"></div>
                  <label for="email" class="placeholder">Email</label>
                </div>

                
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="closex" data-dismiss="modal">Close</button>
          <button type="submit" class="confirm">Add</button>
        </div>
      </div>
    </div>
  </div>
  </form>
<!-- Modal Food -->

<!-- Modal Driver -->
<div class="modal fade" id="addDriver" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #95dab6;">
          <h5 class="modal-title" id="exampleModalLabel" style="color: #ffffff;">Add Driver</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <center>
          <form method="POST" action="#">
         
            <div class="form1">
                <div class="title1">Driver</div>
                <hr>


                <div class="input1-container ic2">
                  <input id="firstname" class="input1" type="text" placeholder=" " required/>
                  <div class="cut"></div>
                  <label for="firstname" class="placeholder">First name</label>
                </div>

                <div class="input1-container ic2">
                  <input id="lastname" class="input1" type="text" placeholder=" " required/>
                  <div class="cut"></div>
                  <label for="lastname" class="placeholder">Last name</label>
                </div>

                <div class="input1-container ic2">
                  <input id="email" class="input1" type="email" placeholder=" " required/>
                  <div class="cut cut-short"></div>
                  <label for="email" class="placeholder">Email</label>
                </div>

                
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="closex" data-dismiss="modal">Close</button>
          <button type="submit" class="confirm">Add</button>
        </div>
      </div>
    </div>
  </div>
  </form>
<!-- Modal Driver -->

<!-- Modal Order -->
<div class="modal fade" id="addOrder" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #95dab6;">
          <h5 class="modal-title" id="exampleModalLabel" style="color: #ffffff;">Add Order</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <center>
          <form method="POST" action="#">
         
            <div class="form1">
                <div class="title1">Order</div>
                <hr>


                <div class="input1-container ic2">
                  <input id="firstname" class="input1" type="text" placeholder=" " required/>
                  <div class="cut"></div>
                  <label for="firstname" class="placeholder">First name</label>
                </div>

                <div class="input1-container ic2">
                  <input id="lastname" class="input1" type="text" placeholder=" " required/>
                  <div class="cut"></div>
                  <label for="lastname" class="placeholder">Last name</label>
                </div>

                <div class="input1-container ic2">
                  <input id="email" class="input1" type="email" placeholder=" " required/>
                  <div class="cut cut-short"></div>
                  <label for="email" class="placeholder">Email</label>
                </div>

                
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="closex" data-dismiss="modal">Close</button>
          <button type="submit" class="confirm">Add</button>
        </div>
      </div>
    </div>
  </div>
  </form>
<!-- Modal Order -->

<!-- Modal Order Item -->
<div class="modal fade" id="addOrderItem" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #95dab6;">
          <h5 class="modal-title" id="exampleModalLabel" style="color: #ffffff;">Add Order Item</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <center>
          <form method="POST" action="#">
         
            <div class="form1">
                <div class="title1">Order Item</div>
                <hr>


                <div class="input1-container ic2">
                  <input id="firstname" class="input1" type="text" placeholder=" " required/>
                  <div class="cut"></div>
                  <label for="firstname" class="placeholder">First name</label>
                </div>

                <div class="input1-container ic2">
                  <input id="lastname" class="input1" type="text" placeholder=" " required/>
                  <div class="cut"></div>
                  <label for="lastname" class="placeholder">Last name</label>
                </div>

                <div class="input1-container ic2">
                  <input id="email" class="input1" type="email" placeholder=" " required/>
                  <div class="cut cut-short"></div>
                  <label for="email" class="placeholder">Email</label>
                </div>

                
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="closex" data-dismiss="modal">Close</button>
          <button type="submit" class="confirm">Add</button>
        </div>
      </div>
    </div>
  </div>
  </form>
<!-- Modal Order Item -->




<!-- Update Modals -->

<!-- Modal User -->
<div class="modal fade" id="updateUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #83b2d0;">
        <h5 class="modal-title" id="exampleModalLabel" style="color: #ffffff;">Update User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <center>
        <form method="POST" action="#">
       
          <div class="form1">
              <div class="title1">User</div>
              <hr>


              <div class="input1-container ic2">
                <input id="firstname" class="input1" type="text" placeholder=" " required/>
                <div class="cut"></div>
                <label for="firstname" class="placeholder">First name</label>
              </div>

              <div class="input1-container ic2">
                <input id="lastname" class="input1" type="text" placeholder=" " required/>
                <div class="cut"></div>
                <label for="lastname" class="placeholder">Last name</label>
              </div>

              <div class="input1-container ic2">
                <input id="email" class="input1" type="email" placeholder=" " required/>
                <div class="cut cut-short"></div>
                <label for="email" class="placeholder">Email</label>
              </div>

              
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="closex" data-dismiss="modal">Close</button>
        <button type="submit" class="confirmx">Update</button>
      </div>
    </div>
  </div>
</div>
</form>
<!-- Modal User -->

<!-- Modal Restaurant -->
<div class="modal fade" id="updateRestaurant" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #83b2d0;">
        <h5 class="modal-title" id="exampleModalLabel" style="color: #ffffff;">Update Restaurant</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <center>
        <form method="POST" action="#">
       
          <div class="form1">
              <div class="title1">Restaurant</div>
              <hr>


              <div class="input1-container ic2">
                <input id="firstname" class="input1" type="text" placeholder=" " required/>
                <div class="cut"></div>
                <label for="firstname" class="placeholder">First name</label>
              </div>

              <div class="input1-container ic2">
                <input id="lastname" class="input1" type="text" placeholder=" " required/>
                <div class="cut"></div>
                <label for="lastname" class="placeholder">Last name</label>
              </div>

              <div class="input1-container ic2">
                <input id="email" class="input1" type="email" placeholder=" " required/>
                <div class="cut cut-short"></div>
                <label for="email" class="placeholder">Email</label>
              </div>

              
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="closex" data-dismiss="modal">Close</button>
        <button type="submit" class="confirmx">Update</button>
      </div>
    </div>
  </div>
</div>
</form>
<!-- Modal Restaurant -->

<!-- Modal Address -->
<div class="modal fade" id="updateAddress" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #83b2d0;">
        <h5 class="modal-title" id="exampleModalLabel" style="color: #ffffff;">Update Address</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <center>
        <form method="POST" action="#">
       
          <div class="form1">
              <div class="title1">Address</div>
              <hr>


              <div class="input1-container ic2">
                <input id="firstname" class="input1" type="text" placeholder=" " required/>
                <div class="cut"></div>
                <label for="firstname" class="placeholder">First name</label>
              </div>

              <div class="input1-container ic2">
                <input id="lastname" class="input1" type="text" placeholder=" " required/>
                <div class="cut"></div>
                <label for="lastname" class="placeholder">Last name</label>
              </div>

              <div class="input1-container ic2">
                <input id="email" class="input1" type="email" placeholder=" " required/>
                <div class="cut cut-short"></div>
                <label for="email" class="placeholder">Email</label>
              </div>

              
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="closex" data-dismiss="modal">Close</button>
        <button type="submit" class="confirmx">Update</button>
      </div>
    </div>
  </div>
</div>
</form>
<!-- Modal Address -->

<!-- Modal Food -->
<div class="modal fade" id="updateFood" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #83b2d0;">
        <h5 class="modal-title" id="exampleModalLabel" style="color: #ffffff;">Update Food</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <center>
        <form method="POST" action="#">
       
          <div class="form1">
              <div class="title1">Food</div>
              <hr>


              <div class="input1-container ic2">
                <input id="firstname" class="input1" type="text" placeholder=" " required/>
                <div class="cut"></div>
                <label for="firstname" class="placeholder">First name</label>
              </div>

              <div class="input1-container ic2">
                <input id="lastname" class="input1" type="text" placeholder=" " required/>
                <div class="cut"></div>
                <label for="lastname" class="placeholder">Last name</label>
              </div>

              <div class="input1-container ic2">
                <input id="email" class="input1" type="email" placeholder=" " required/>
                <div class="cut cut-short"></div>
                <label for="email" class="placeholder">Email</label>
              </div>

              
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="closex" data-dismiss="modal">Close</button>
        <button type="submit" class="confirmx">Update</button>
      </div>
    </div>
  </div>
</div>
</form>
<!-- Modal Food -->

<!-- Modal Driver -->
<div class="modal fade" id="updateDriver" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #83b2d0;">
        <h5 class="modal-title" id="exampleModalLabel" style="color: #ffffff;">Update Driver</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <center>
        <form method="POST" action="#">
       
          <div class="form1">
              <div class="title1">Driver</div>
              <hr>


              <div class="input1-container ic2">
                <input id="firstname" class="input1" type="text" placeholder=" " required/>
                <div class="cut"></div>
                <label for="firstname" class="placeholder">First name</label>
              </div>

              <div class="input1-container ic2">
                <input id="lastname" class="input1" type="text" placeholder=" " required/>
                <div class="cut"></div>
                <label for="lastname" class="placeholder">Last name</label>
              </div>

              <div class="input1-container ic2">
                <input id="email" class="input1" type="email" placeholder=" " required/>
                <div class="cut cut-short"></div>
                <label for="email" class="placeholder">Email</label>
              </div>

              
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="closex" data-dismiss="modal">Close</button>
        <button type="submit" class="confirmx">Update</button>
      </div>
    </div>
  </div>
</div>
</form>
<!-- Modal Driver -->

<!-- Modal Order -->
<div class="modal fade" id="updateOrder" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #83b2d0;">
        <h5 class="modal-title" id="exampleModalLabel" style="color: #ffffff;">Update Order</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <center>
        <form method="POST" action="#">
       
          <div class="form1">
              <div class="title1">Order</div>
              <hr>


              <div class="input1-container ic2">
                <input id="firstname" class="input1" type="text" placeholder=" " required/>
                <div class="cut"></div>
                <label for="firstname" class="placeholder">First name</label>
              </div>

              <div class="input1-container ic2">
                <input id="lastname" class="input1" type="text" placeholder=" " required/>
                <div class="cut"></div>
                <label for="lastname" class="placeholder">Last name</label>
              </div>

              <div class="input1-container ic2">
                <input id="email" class="input1" type="email" placeholder=" " required/>
                <div class="cut cut-short"></div>
                <label for="email" class="placeholder">Email</label>
              </div>

              
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="closex" data-dismiss="modal">Close</button>
        <button type="submit" class="confirmx">Update</button>
      </div>
    </div>
  </div>
</div>
</form>
<!-- Modal Order -->

<!-- Modal Order Item -->
<div class="modal fade" id="updateOrderItem" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #83b2d0;">
        <h5 class="modal-title" id="exampleModalLabel" style="color: #ffffff;">Update Order Item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <center>
        <form method="POST" action="#">
       
          <div class="form1">
              <div class="title1">Order Item</div>
              <hr>


              <div class="input1-container ic2">
                <input id="firstname" class="input1" type="text" placeholder=" " required/>
                <div class="cut"></div>
                <label for="firstname" class="placeholder">First name</label>
              </div>

              <div class="input1-container ic2">
                <input id="lastname" class="input1" type="text" placeholder=" " required/>
                <div class="cut"></div>
                <label for="lastname" class="placeholder">Last name</label>
              </div>

              <div class="input1-container ic2">
                <input id="email" class="input1" type="email" placeholder=" " required/>
                <div class="cut cut-short"></div>
                <label for="email" class="placeholder">Email</label>
              </div>

              
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="closex" data-dismiss="modal">Close</button>
        <button type="submit" class="confirmx">Update</button>
      </div>
    </div>
  </div>
</div>
</form>
<!-- Modal Order Item -->




<hr>

<script
src="https://code.jquery.com/jquery-3.6.0.min.js"
integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
crossorigin="anonymous"></script>

<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>


<script>
    
</script>



<script type="text/javascript">//<![CDATA[


    (function(){
        
        var tables = $("div.tbl");
        //Grabs all the tables
        tables.hide().first().show();
        //Hides all the tables except first
        $("button.b").on("click", function(){
            //Adds eventListner to buttons
            tables.hide();
            //Hides all the tables
            var tableTarget = $(this).data("div");
            //Gets data# of button
            $("div#" + tableTarget).show();
            //Shows the table with an id equal to data attr of the button
            
        })
    })();
    </script>
    
    <script>
        $(document).ready( function () {
    $('#tbl1').DataTable();
} );
    </script>

<script>
    $(document).ready( function () {
$('#tbl2').DataTable();
} );
</script>
<script>
    $(document).ready( function () {
$('#tbl3').DataTable();
} );
</script>
<script>
    $(document).ready( function () {
$('#tbl4').DataTable();
} );
</script>
<script>
    $(document).ready( function () {
$('#tbl5').DataTable();
} );
</script>
<script>
    $(document).ready( function () {
$('#tbl6').DataTable();
} );
</script>
<script>
    $(document).ready( function () {
$('#tbl7').DataTable();
} );
</script>

</body>



{% include "footer.html" %}
</html>