<!DOCTYPE html>
<html>
    
{% include "header.html" %}

<body>
    
    {% load static %}
        <!-- Page Header Start -->
        <div class="page-header mb-0">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Admin Dashboard</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header End -->
        
        
        <!-- Food Start -->
        <div>
            <h2 style="text-align: center; padding-top: 30px; padding-bottom: 30px;">Charts</h2>
            <div style="border-style: ridge;">
        <div class="barGraph" style="width:700px; background-color: #FFFF; margin-left: 250px; margin-top: 50px; border-radius: 5px; border-style: ridge;">
            <canvas id="myChartBar"></canvas>
        </div>
        <div class="doughGraph" style="width:450px; background-color: #FFFF; margin-left: 1000px; margin-top: -400px; border-radius: 5px; border-style: ridge;">
        <canvas id="myChartdough"></canvas>
        </div>
        </div>
    </div>
        <!-- Food End -->

            

 

<script>
var ctx = document.getElementById('myChartBar').getContext('2d');
var myChartBar = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [{%for res in resDesc%}'{{res.Restaurant_Desc}}',{%endfor%}],
        datasets: [{
            label: 'Different Types of Restaurants',
            data: ['{{countCoffee}}','{{countAsian}}','{{countAmerican}}','{{countFilipino}}', '{{countCouple}}'],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }

    }
});
</script>

<script>
var ctx = document.getElementById('myChartdough').getContext('2d');
var myChartdough = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: [{%for add in addStreet%}'{{add.Address_City}}',{%endfor%}],
        datasets: [{
            label: 'Different Types of Restaurants',
            data: ['{{countCebu}}','{{countMandaue}}'],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }

    }
});
</script>
           
 <hr>

<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">





<center>
<button class="b" type="button" data-div="1">Users</button>
<button class="b" type="button" data-div="2">Restaurants</button>
<button class="b" type="button" data-div="3">Address</button>
<button class="b" type="button" data-div="4">Food</button>
<button class="b" type="button" data-div="5">Driver</button>
<button class="b" type="button" data-div="6">Order</button>
<button class="b" type="button" data-div="7">Order Item</button>
<hr>

<div style="border-style: ridge; width:90%; padding-inline: 50px; padding-block: 20px;"> 

<div class="tbl" id="1">
<table id="tbl1" class="display" style="width:100%;">
<h1>User</h1>
    <thead>
        <tr>
            <th>User ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Password</th>
            <th>Contact Number</th>
            <th>Email</th>
            <th>Action</th>

        </tr>
    </thead>
    <tbody>
        
        <tr>
            <td>User</td>
            <td>Integration Specialist</td>
            <td>Tokyo</td>
            <td>55</td>
            <td>2010/10/14</td>
            <td>$327,900</td>
            <td><button>Jeff</button></td>
        </tr>

        </tbody>

        
</table>
</div>

<div class="tbl" id="2">
<table id="tbl2" class="display" style="width:100%;">
<h1>Restaurants</h1>

    <thead>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Age</th>
            <th>Start date</th>
            <th>Salary</th>

        </tr>
    </thead>
    <tbody>
        
        <tr>
            <td>Restaurants</td>
            <td>Integration Specialist</td>
            <td>Tokyo</td>
            <td>55</td>
            <td>2010/10/14</td>
            <td>$327,900</td>
        </tr>

        </tbody>
</table>
</div>

<div class="tbl" id="3">
    <table id="tbl3" class="display" style="width:100%;">
    <h1>Address</h1>
    
        <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
    
            </tr>
        </thead>
        <tbody>
            
            <tr>
                <td>Address</td>
                <td>Integration Specialist</td>
                <td>Tokyo</td>
                <td>55</td>
                <td>2010/10/14</td>
                <td>$327,900</td>
            </tr>
    
            </tbody>
    </table>
    </div>

    <div class="tbl" id="4">
<table id="tbl4" class="display" style="width:100%;">
<h1>Food</h1>

    <thead>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Age</th>
            <th>Start date</th>
            <th>Salary</th>

        </tr>
    </thead>
    <tbody>
        
        <tr>
            <td>Food</td>
            <td>Integration Specialist</td>
            <td>Tokyo</td>
            <td>55</td>
            <td>2010/10/14</td>
            <td>$327,900</td>
        </tr>

        </tbody>
</table>
</div>

<div class="tbl" id="5">
    <table id="tbl5" class="display" style="width:100%;">
    <h1>Driver</h1>
    
        <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
    
            </tr>
        </thead>
        <tbody>
            
            <tr>
                <td>Driver</td>
                <td>Integration Specialist</td>
                <td>Tokyo</td>
                <td>55</td>
                <td>2010/10/14</td>
                <td>$327,900</td>
            </tr>
    
            </tbody>
    </table>
    </div>

    <div class="tbl" id="6">
        <table id="tbl6" class="display" style="width:100%;">
        <h1>Order</h1>
        
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Age</th>
                    <th>Start date</th>
                    <th>Salary</th>
        
                </tr>
            </thead>
            <tbody>
                
                <tr>
                    <td>Order</td>
                    <td>Integration Specialist</td>
                    <td>Tokyo</td>
                    <td>55</td>
                    <td>2010/10/14</td>
                    <td>$327,900</td>
                </tr>
        
                </tbody>
        </table>
        </div>

        <div class="tbl" id="7">
            <table id="tbl7" class="display" style="width:100%;">
            <h1>Order Item</h1>
            
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Age</th>
                        <th>Start date</th>
                        <th>Salary</th>
            
                    </tr>
                </thead>
                <tbody>
                    
                    <tr>
                        <td>Order Item</td>
                        <td>Integration Specialist</td>
                        <td>Tokyo</td>
                        <td>55</td>
                        <td>2010/10/14</td>
                        <td>$327,900</td>
                    </tr>
            
                    </tbody>
            </table>
            </div>
</div>
</center>

<hr>

<script
src="https://code.jquery.com/jquery-3.6.0.min.js"
integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
crossorigin="anonymous"></script>

<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>


<script>
    
</script>



<script type="text/javascript">//<![CDATA[


    (function(){
        
        var tables = $("div.tbl");
        //Grabs all the tables
        tables.hide().first().show();
        //Hides all the tables except first
        $("button.b").on("click", function(){
            //Adds eventListner to buttons
            tables.hide();
            //Hides all the tables
            var tableTarget = $(this).data("div");
            //Gets data# of button
            $("div#" + tableTarget).show();
            //Shows the table with an id equal to data attr of the button
            
        })
    })();
    </script>
    
    <script>
        $(document).ready( function () {
    $('#tbl1').DataTable();
} );
    </script>

<script>
    $(document).ready( function () {
$('#tbl2').DataTable();
} );
</script>
<script>
    $(document).ready( function () {
$('#tbl3').DataTable();
} );
</script>
<script>
    $(document).ready( function () {
$('#tbl4').DataTable();
} );
</script>
<script>
    $(document).ready( function () {
$('#tbl5').DataTable();
} );
</script>
<script>
    $(document).ready( function () {
$('#tbl6').DataTable();
} );
</script>
<script>
    $(document).ready( function () {
$('#tbl7').DataTable();
} );
</script>

</body>



{% include "footer.html" %}
</html>