<!DOCTYPE html>
<html>
    

    <head>
        <meta charset="utf-8">
        <title>Foodies</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Free Website Template" name="keywords">
        <meta content="Free Website Template" name="description">
        {% load static %}
        <!-- Favicon -->
        <link href="{% static 'images/favicon.ico" rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Nunito:600,700" rel="stylesheet"> 

        
        
        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">      
        <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
        <link href="{% static 'lib/flaticon/font/flaticon.css' %}" rel="stylesheet">
        <link href="{% static 'lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <!-- Template Stylesheet -->
        {% load static %}
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
    </head>
    <header>
                <!-- Nav Bar Start -->
                <div class="navbar navbar-expand-lg bg-light navbar-light">
                    <div class="container-fluid" style="max-width: 1500px">
                        <a href="{% url 'foodies:index' %}" class="navbar-brand">Foodies</a>
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>
        
                        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                            <div class="navbar-nav ml-auto">
                                <a href="{% url 'foodies:index' %}" class="nav-item nav-link active">Home</a>
                                <a href="#about" class="nav-item nav-link">About</a>
                                <a href="#features" class="nav-item nav-link">Features</a>
                                <a href="#restaurants" class="nav-item nav-link">Restaurants</a>
                                <a href="#contact" class="nav-item nav-link">Contact</a>
                                <div class="nav-item dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Account</a>
                                    <div class="dropdown-menu">
                                        <a href="blog.html" class="dropdown-item">Login</a>
                                        <a href="single.html" class="dropdown-item"data-toggle="modal" data-target="#register" href="">Register</a>
                                        
                                    </div>
                                </div>
                                <a href="{% url 'foodies:dashboard' %}" class="nav-item nav-link">Dashboard</a>
                                <a href="{% url 'foodies:logout' %}" class="nav-item nav-link active">Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Nav Bar End -->
    </header>
{% block content %}{% endblock %}

<body>


<style>
div.box{
    width: 1500px;
    padding: 50px;
    text-align: center;
    margin-bottom: 15px;
    border-radius: 10px;
}


 a  div.box{
  display: block;
  background-color: #FFF;
  color: #fbaf32;
  border-color: #000;
  border-radius: 10px;
  border-style: solid;
  border-width: thin;
}

 a:hover div.box{
  display: block;
  background-color: rgba(251, 175, 50, 85%);
  color: #FFF;
  transition: .4s;
  border-color: #FFF;
}

.divider{
    width: 1600px;
    padding: 50px;
    text-align: center;
    margin: auto;
    border-style: outset
}
</style>

{% load static %}
            
        <!-- Page Header Start -->
        <div class="page-header mb-0">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Welcome, {{request.session.User_FirstName}}</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header End -->
        <h2 style="text-align: center; padding-top: 50px; padding-bottom: 50px;">Order from your favorite restaurants</h2>
        <!-- Restaurant -->

        
        <div class="divider">

            {% for r in restaurants %}

            <a href="http://www.example.com">
            <div class="box">
                <p style="text-align:left;">
            <img src="{% static 'images/anzani.jpg' %}" alt="Image" width="100px" >
                </p>
            </div>
            </a>
            
            
            {% endfor %}
        </div>
    
        
        <!-- Restaurant -->

</body>

{% include "footer.html" %}
</html>