<!DOCTYPE html>
<html>
    
{% include "header.html" %}
<body>

{% load static %}
            
        <!-- Page Header Start -->
        <div class="page-header mb-0">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Welcome, Insert Name here</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header End -->

</body>

{% include "footer.html" %}
</html>